# PRINT

In [1]:
  print("hello world")

hello world

In [32]:
print("hi asu!")

hi asu!

In [12]:
print("\"hello world.\".")   #escape -\ : this prints with quotation marks

"hello world.".

In [6]:
print("hey! i am learning python\
 this is my first class in python")   #using \ again

hey! i am learning python this is my first class in python

In [8]:
print("""hey! i am learning python
and this is my first class""")     #using triple quotation """..."""

hey! i am learning python.
and this is my first class

In [10]:
print("i am learning python. \nthis is my first class in python") # using \n for new line

i am learning python.
this is my first class in python

###### read this

In [11]:
print(r"i am learning python. \nthis is my first class in python")   #using r in the begining

i am learning python. \nthis is my first class in python

In [15]:
print("i am learning python", end=' ')
print("this is my first class")         #using (" ", end=' ...') for continuing nxt print statement

i am learning python this is my first class

In [16]:
print("-"*25)

-------------------------

In [18]:
print("nikita "*5)

nikita nikita nikita nikita nikita

In [20]:
print("can you hear me now" + " can you see me now") #concatenation

can you hear me now can you see me now

In [21]:
print(2+3)

5

In [23]:
print("no. of times i repeate myself:", 3)    # comma , is used for concatenating

no. of times i repeate myself: 3

In [28]:
print("hi","there","how","are u")

hi there how are u

In [31]:
print("i have",20,"oranges and", 10, "apples")

i have 20 oranges and 10 apples

In [11]:
## misc

In [12]:
print("doesn\'t")

doesn't

In [13]:
print("doesn't")

doesn't

# VARIABLES

In [36]:
distance_travelled_mi=100
time_taken_in_min=1200
time_taken_in_hr= time_taken_in_min/60

print("no. of miles travelled", distance_travelled_mi)
print("time taken in hours is", time_taken_in_hr)
print("speed is ", distance_travelled_mi/time_taken_in_hr)

no. of miles travelled 100
time taken in hours is 20.0
speed is  5.0

In [37]:
_total_memory=0
print(_total_memory)

0

In [38]:
1stpass=3
#doesnt work as the variable starts with a number

SyntaxError: invalid syntax (<ipython-input-38-01fb013194d4>, line 1)

In [39]:
print("nikita dodda")

nikita dodda

In [41]:
myname="nikita dodda"
print(myname)

nikita dodda

In [1]:
fruits="apples and oranges"
apples=10
oranges=20

print("i have", fruits, "i have", apples,"apples",oranges,"oranges")

i have apples and oranges i have 10 apples 20 oranges

# OPERATORS

In [44]:
15//9

1

In [49]:
print(101//2) #floor operator
print(101%2)
print(101/2)  #float operator

50
1
50.5

In [10]:
-3**2 #power operator

-9

In [47]:
(-3)**2

9

In [2]:
-3**2

-9

In [1]:
3**-2

0.1111111111111111

###### read this

In [7]:
~2 #bitwise operator

-3

In [8]:
-2 #unary operator

-2

In [9]:
print ("~2 = ", ~2, "(bitwise inversion)")

~2 =  -3 (bitwise inversion)

In [11]:
100>>3 #this is same as 100//(2**3)

12

In [12]:
100//(2**3)

12

In [13]:
100<<3 #this is same as 100*(2**3)

800

In [14]:
100*(2**3)

800

In [15]:
#binary bitwise operators

In [27]:
3|3

3

In [25]:
3^3

0

In [24]:
3&3

3

In [28]:
3|0

3

In [30]:
3^0

3

In [31]:
3&0

0

### Comparison Operators

In [39]:
print("5>2?", 5>2)

5>2? True

In [40]:
print("5==3", 5==3)

5==3 False

In [41]:
5<=4

False

In [42]:
2 in (2,3,4)

True

In [43]:
5 not in (1,2,3)

True

### Boolean Operators

In [45]:
(5>2) and (5==2)

False

In [46]:
(5>2) or (5==2)

True

In [47]:
not(5==2)

True

In [48]:
5!=2

True

In [49]:
5>2 or 5==2

True

In [50]:
#double == sign means we are comparinf L.H.S TO R.H.S  and single = sign indicates that we are asigning R.H.S to L.H.S

In [51]:
#MULTIPLE ASSIGNMENT

In [53]:
a=0
b=1
print(a,b)

0 1

In [55]:
c,d=2,3
print(c,d)  #this is multiple assignment

2 3

In [57]:
a,b=0,1
a,b=b,a+b
print(a,b)

1 1

In [58]:
a,b=1,2
a,b=b,a+b
print(a,b)

2 3

### Import

In [60]:
#python math library provides many standard math functions
#https://docs.python.org/3/library/math.html
#above link for math lib functions used in py.

In [3]:
import math
a=2
b=3
print(round(a/b)) #round to nearest integer

1

In [65]:
print(math.floor(a/b)) #quotient

0

In [68]:
print(math.ceil(a/b)) # ceil - a/b=0.66 so it consider integer which is >0

1

In [69]:
print(pow(a,b))

8

In [4]:
print(math.pow(a,b))

8.0

In [70]:
print(abs(a/b))

0.6666666666666666

In [72]:
print(abs(a-b)) # used to get absolute value

1

In [73]:
math.sqrt(a)

1.4142135623730951

In [75]:
pow(a,0.5) # pow of 0.5 and sqrt acts same

1.4142135623730951

In [84]:
round(math.pow(a,0.5),2)

1.41

In [5]:
round(pow(a,0.5),2)

1.41

In [7]:
math.sqrt(a)

1.4142135623730951

In [82]:
var1=5
var2=2
var3=2
var4=math.sqrt(pow(var1,var2))
var5=pow(var1-var2,var3)
print(var4)
print(var5)

5.0
9

# EXERCISE SET-1

In [83]:
import math
euro=50
conversion=1.11*(euro)
dollar=round(conversion,2)
print("euro= ",euro)
print("dollar= ",dollar)

euro=  50
dollar=  55.5

In [88]:
billed_amount=500
tip=0.20
total=billed_amount*(1+tip)
print("billed amount=",billed_amount)
print("tip=", tip)
print("total=",total)

billed amount= 500
tip= 0.2
total= 600.0

In [93]:
radius=5
cirumference=(2*math.pi*radius)
area=(math.pi)*(radius**2)
print("circum=",round(cirumference,2))
print("area=",round(area,2))

circum= 31.42
area= 78.54

In [97]:
a=11
remainder=a%2
iseven=(remainder==0)
print("number= ", a)
print("remainder =", remainder)
print("is the number even? ", iseven)  # check this

number=  11
remainder = 1
is the number even?  False

In [98]:
a=100
remainder=a%2
iseven=(remainder==0)
print("number= ", a)
print("remainder =", remainder)
print("is the number even? ", iseven)

number=  100
remainder = 0
is the number even?  True

In [101]:
amount=259
a=amount//20
b=amount-(a*20)
c=b//10
d=amount-(a*20)-(c*10)
e=d//5
f=amount-(a*20)-(c*10)-(e*5)
print("number of 20's requires= ", a)
print("number of 10's requires= ", c)
print("number of 5's requires= ", e)
print("number of 1's requires= ", f)

number of 20's requires=  12
number of 10's requires=  1
number of 5's requires=  1
number of 1's requires=  4

# DATA STRUCTURES

In [260]:
#6 TYPES OF DATA STRUCTURES IN PYTHON
#1st 4 belongs to sequence type- these are indexable by number -the 4 are lists,range,tuples,strings
#immutable and mutable sequence
#IMMUTABLE== we cannot change value once assigned eg:strings,tuples,ranges
#mutable==eg:lists - we can change value after assigning
#SETS- unordered collection-no duplicates-sets cannot be indexed
#DICTIONARIES- 6th type of DS that python allows- dic are indexed by keys, keys are immutable, 
##and must be unique within a dic

# STRINGS

### Concatinating a string can be done in 3 ways

In [106]:
print("left string "+"right string")

left string right string

In [108]:
lstring="left string "
rstring="right string"
tot_string=lstring+rstring
print(tot_string)

left string right string

In [110]:
print("repeat..."*3)

repeat...repeat...repeat...

### Indexing

In [117]:
word="python"
print(word[0])
print(word[1])
print(word[2])
print(word[3])
print(word[4])
print(word[5])

p
y
t
h
o
n

In [ ]:
#counting right to left

In [116]:
print(word[-1])
print(word[-2])
print(word[-3])
print(word[-4])
print(word[-5])
print(word[-6])

n
o
h
t
y
p

### Slicing

In [123]:
print(word[0:2])
print(word[0:6])
print(word[2:10])
print(word[-3:-2])
print(word[-3:-6]) #prints an empty string  start index<end index, else empty string will be returned
print(word[-6:-3])
print(word[-3:6])

py
python
thon
h

pyt
hon

In [127]:
print(word[:2])
print(word[4:])
print(word[0:2])
print(word[-2:])
print(word[:4]+word[4:])

py
on
py
on
python

In [131]:
## python strings are immutable 
## attempting to assign to an index position will result in an error
## if you need a diff string create a diff one

In [132]:
word

'python'

In [135]:
word[0]="j"

TypeError: 'str' object does not support item assignment

In [130]:
newword="j"+word[1:]
print(newword)

jython

In [136]:
print(len("python")) #to check length of a string

6

In [137]:
len(word)

6

In [138]:
print("th" in "python") # to check if the substring exists in the string

True

In [140]:
print("python".find("th")) # to find index of substring in a string

2

In [144]:
my_string= 'my name is nikita'
print(my_string.startswith("ni"))
print(my_string.startswith("my"))
print(my_string.startswith("m"))
print(my_string.startswith("my n"))  #to check if string starts with substring

False
True
True
True

In [147]:
print("python".endswith("py"))
print(my_string.endswith("a"))  ##to check if string ends with substring

False
True

In [148]:
"PYTHON".lower()

'python'

In [149]:
"python".upper()

'PYTHON'

In [153]:
a="python"
b=a.upper()
print(a)
print(b)

python
PYTHON

In [154]:
"   python   ".strip()

'python'

In [156]:
"   p  y  t  hon".strip()  #strip- removes leading and trailing spaces...doestnot removes spaces in betwn

'p  y  t  hon'

In [158]:
print("1,2,3,4".split(",")) #we can split a string using specified charachter as delimiter

['1', '2', '3', '4']

In [160]:
a=("nikita","nikita","nikita")
sep=","
sep.join(a)    #joins sep to a

'nikita,nikita,nikita'

In [161]:
print("there \n are \n four \n lines".splitlines())

['there ', ' are ', ' four ', ' lines']

In [12]:
print("there \n are \n four \n lines")

there
 are
 four
 lines

In [13]:
## remove - removes 1st element with the condition
## del - deletes the variable

In [15]:
lst=[100,10,20,30,100]
lst.remove(100)
print(lst)

[10, 20, 30, 100]

#### TEST

In [163]:
myword="CIS 509 Classroom"
print(len(myword))
print(myword[0:7])
print(myword[:6]+myword[6:])
print(myword[:100])
print(myword[100:-5])
print(myword[-9:100])

17
CIS 509
CIS 509 Classroom
CIS 509 Classroom

Classroom

### LISTS

In [ ]:
# LISTS ARE mutable sequences typically used to store collection of homogenous items. lists are indexed by no's
#eg:[a,b,c,d]

In [ ]:
listpeople=["tom","harry","jane","liz"]
listflowers=["rose","lily","tulip","lantana"]
listpets=["cat","turtle","goat","dog"]
listnumfriends=[21,33,10,51]
listatypical=[1,"cat",0*45,567]
print("list people:        ",listpeople)
print("listflowers:        ",listflowers)
print("listpets:        ",listpets)
print("listnumfriends:        ",listnumfriends)
print("listatypical:        ",listatypical)

In [ ]:
listconcat=listpeople+listpets
print("listconcat=    ",listconcat)

In [176]:
len(listpeople)

4

In [177]:
print(listpeople)

['tom', 'harry', 'jane', 'liz']

In [171]:
listpeople[2]

'jane'

In [172]:
listpeople[-3]

'harry'

In [173]:
listpeople[2:]

['jane', 'liz']

In [174]:
listpets[0]

'cat'

In [175]:
print(listpets)

['cat', 'turtle', 'goat', 'dog']

In [179]:
listpets[0]="tyrex"
print(listpets)   #assigning to an index

['tyrex', 'turtle', 'goat', 'dog']

In [181]:
listpets[0:2]=["python","elephant"]
print(listpets)     # assigning to a slice

['python', 'elephant', 'goat', 'dog']

In [182]:
listpets[2:4]=[]
print(listpets) # delete a slice

['python', 'elephant']

In [187]:
#appending new item to the list
listpets.append("fox")
print(listpets)

['python', 'elephant', 'fox', 'fox', 'fox', 'fox']

In [189]:
listpets[:]=[]
print(listpets)

[]

In [191]:
sublistpeople=listpeople[0:2]
print(listpeople)
print(sublistpeople)      #we can slice a list and assign it to another variable

['tom', 'harry', 'jane', 'liz']
['tom', 'harry']

In [203]:
listcompiled=[listpeople[0].upper(), (listflowers[1]).lower(), listnumfriends[0]+10]
print(listcompiled)    #cancomiple single element from different lists and 
                       #can also apply different function to each element

['TOM', 'lily', 31]

In [195]:
print(listnumfriends)

[21, 33, 10, 51]

In [196]:
print(listpeople)

['tom', 'harry', 'jane', 'liz']

In [197]:
print(listpets)

[]

In [205]:
listnested=[listpeople,listflowers]
print(listnested)

[['tom', 'harry', 'jane', 'liz'], ['rose', 'lily', 'tulip', 'lantana']]

In [209]:
listcompiled=listpeople+listflowers
listcompiled1=[listpeople+listflowers]
print(listcompiled)
print(listcompiled1)

['tom', 'harry', 'jane', 'liz', 'rose', 'lily', 'tulip', 'lantana']
[['tom', 'harry', 'jane', 'liz', 'rose', 'lily', 'tulip', 'lantana']]

In [210]:
listnested[1]    #nested index

['rose', 'lily', 'tulip', 'lantana']

In [211]:
#double indexing
listnested[1][2]

'tulip'

In [213]:
listnested[0][1]

'harry'

In [443]:
list1=[100,200,300]
list2=[5,15,25]
list3=[10,50,50,20,0,10,50]
print(list1)
print(list2)
print(list3)

[100, 200, 300]
[5, 15, 25]
[10, 50, 50, 20, 0, 10, 50]

In [215]:
list1.append(-400)

In [216]:
print(list1)

[100, 200, 300, -400]

In [217]:
list2.extend(list1)
print(list2)     #extend list2 by appending all items from list1

[5, 15, 25, 100, 200, 300, -400]

In [218]:
list3.append(list1[0])

In [219]:
print(list3)

[10, 50, 50, 20, 0, 10, 50, 100]

In [220]:
list2.insert(3,-400)
print(list2)   #take list 2 and insert the value -400 @ index position 3

[5, 15, 25, -400, 100, 200, 300, -400]

In [221]:
list2.remove(-400)
print(list2)

[5, 15, 25, 100, 200, 300, -400]

In [229]:
list2.extend(list1)
print(list2)

[5, 15, 25, 100, 200, 300, -400]

In [230]:
print(list2)
del list2[3]
print(list2)

[5, 15, 25, 100, 200, 300, -400]
[5, 15, 25, 200, 300, -400]

In [231]:
list2.pop()

-400

In [232]:
print(list2)

[5, 15, 25, 200, 300]

In [235]:
print(list2.pop())
print(list2)

300
[5, 15, 25, 200]

In [236]:
print(list3)

[10, 50, 50, 20, 0, 10, 50, 100]

In [237]:
print(list3.index(50))

1

In [245]:
print(list3.count(50))

3

In [17]:
# changing tupple to list 
tup=(10,20,30)
lst=list(tup)
print(lst)

[10, 20, 30]

In [248]:
list3.reverse()
print(list3)

[100, 50, 10, 0, 20, 50, 50, 10]

In [253]:
print(list3.reverse())

None

###  ........................................................

In [250]:
list3.sort()
print(list3)

[0, 10, 10, 20, 50, 50, 50, 100]

In [445]:
list3.reverse()
print(list3)

[50, 10, 0, 20, 50, 50, 10]

In [257]:
list3.clear()
print(list3)

[]

In [258]:
del list3

#### TEST

In [1]:
mystring="CIS 509"
mylist1=["CIS","509"]
mylist2=["CIS","SCM","BDA"]

In [4]:
print(mystring[1])
print(mylist1[1])
print(mylist2[-2])
print(mylist1)
print(mystring[4])
mystring[4]=="5"
mystring[4]="5"

I
509
SCM
['CIS', '509']
5

TypeError: 'str' object does not support item assignment

In [267]:
mylist2.append("mktg")
mylist2

['CIS', 'SCM', 'BDA', 'mktg']

# TUPLES

In [ ]:
# TUPLES are immutable sequences, typically used to store collections of heterogenous data, or for cases where an 
#immutable sequence of homogenous data is needed. they can be indexed.

In [271]:
tuple1=()
print("tuple1=", tuple1,",",len(tuple1))

tuple1= () , 0

In [272]:
#singleton tuples must have a trailing comma

In [277]:
#example:
tuple3=(1,)
print("tuple3=", tuple3,len(tuple3))

tuple3= (1,) 1

In [278]:
#example with out a comma in tuple
tuple4=(1)
print("tuple4=", tuple4,len(tuple4))

TypeError: object of type 'int' has no len()

In [279]:
# we get an error since it is a singleton tuple we need to place a comma after the element in the tuple

In [281]:
tuple5=(1,2,3)
print("tuple5= ", tuple5,len(tuple5))

tuple5=  (1, 2, 3) 3

In [282]:
print(tuple5[0],tuple5[1],tuple5[2])

1 2 3

In [283]:
tuple5[0:2]

(1, 2)

In [285]:
tuple6=((1,2,3),(4,5,6))

In [286]:
len(tuple6)

2

In [287]:
tuple6[1][2]

6

In [288]:
#converting a list into tuple, this will be useful when you need an immutable 
tuple7=([1,2,3])

In [289]:
len(tuple7)

3

In [290]:
tuple8=([1,2,3],[4,5,6])
len(tuple8)

2

## tuple packing and unpacking

In [291]:
tuple9=1,2,3
print(tuple9,len(tuple9))     # tuple packing

(1, 2, 3) 3

In [297]:
a,b,c=tuple9
print(a,b,"lenght=",len(tuple9))   # tuple unpacking

1 2 lenght= 3

In [294]:
tuple10=(1,2),(3,4),(5,6)
for (a,b) in tuple10:
    print(a)

1
3
5

#### TEST

In [5]:
tup1=(2)
print(len(tup1))

TypeError: object of type 'int' has no len()

In [7]:
tup2=(1,2,3)
tup2[1]=10
print(tup2)

TypeError: 'tuple' object does not support item assignment

In [302]:
x,y,z=[10,"dog",30]
print(x,y,z)

10 dog 30

In [303]:
x,y,z=(10,"dog",30)
print(x,y,z)

10 dog 30

# EXERCISE SET-2

In [306]:
# 1) declare and assign 4 variables a,b,c,d
a=1
b=2
c=10
d=20

In [308]:
# 2) calculate and print manhattan distance between two points
import math
absolute_value=abs(a-c)+abs(b-d)
print(absolute_value)

27

In [312]:
# 3) calculate and print euclidean distance between two points
euclidean_dist=pow((pow(abs(a-c),2)+pow(abs(b-d),2)),0.5)
print(round(euclidean_dist,2))

20.12

In [313]:
# 4) calculate and print minkowski distance between two points
minkowski_dist=pow((pow(abs(a-c),3)+pow(abs(b-d),3)),(1/3))
print(round(minkowski_dist,2))

18.72

In [314]:
# math.fabs - floating absolute

In [324]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [319]:
p=[1,2]
q=[10,20]

In [320]:
# 1) calculate and print manhattan distance between two points
import math
absolute_value=abs(p[0]-q[0])+abs(p[1]-q[1])
print(absolute_value)

27

In [321]:
# 2) calculate and print euclidean distance between two points
euclidean_dist=pow((pow(abs(p[0]-q[0]),2)+pow(abs(p[1]-q[1]),2)),1/2)
print(round(euclidean_dist,2))

20.12

In [322]:
# 3) calculate and print minkowski distance between two points
minkowski_dist=pow((pow(abs(p[0]-q[0]),3)+pow(abs(p[1]-q[1]),3)),(1/3))
print(round(minkowski_dist,2))

18.72

In [323]:
print("-"*100)

----------------------------------------------------------------------------------------------------

In [325]:
p=[1,2,3]
q=[10,20,30]

In [327]:
# 1) calculate and print manhattan distance between two points
import math
absolute_value=abs(p[0]-q[0])+abs(p[1]-q[1])+abs(p[2]-q[2])
print(absolute_value)

54

In [330]:
# 2) calculate and print euclidean distance between two points
euclidean_dist=pow((pow(abs(p[0]-q[0]),2)+pow(abs(p[1]-q[1]),2)+pow(abs(p[2]-q[2]),2)),1/2)
print(round(euclidean_dist,2))

33.67

In [329]:
# 3) calculate and print minkowski distance between two points
minkowski_dist=pow((pow(abs(p[0]-q[0]),3)+pow(abs(p[1]-q[1]),3)+pow(abs(p[2]-q[2]),3)),(1/3))
print(round(minkowski_dist,2))

29.72

In [336]:
# Sample pearsons correlation between 2 vectors p and q

In [339]:
# Calculating partial sums
p=[1,2,3]
q=[10,20,30]
print("sum of piqi=",(p[0]*q[0])+(p[1]*q[1])+(p[2]*q[2]))
print("sum of pi=", p[0]+p[1]+p[2])
print("sum of qi=", q[0]+q[1]+q[2])
print("sum of pi2=",pow(p[0],2)+pow(p[1],2)+pow(p[2],2))
print("sum of qi2=",pow(q[0],2)+pow(q[1],2)+pow(q[2],2))

sum of piqi= 140
sum of pi= 6
sum of qi= 60
sum of pi2= 14
sum of qi2= 1400

In [340]:
piqi=(p[0]*q[0])+(p[1]*q[1])+(p[2]*q[2])
pi=p[0]+p[1]+p[2]
qi=q[0]+q[1]+q[2]
pi2=pow(p[0],2)+pow(p[1],2)+pow(p[2],2)
qi2=pow(q[0],2)+pow(q[1],2)+pow(q[2],2)

In [342]:
neumerator=piqi-((pi*qi)/len(p))
print(neumerator)

20.0

In [347]:
denominator=(pow(pi2-(pow(pi,2)/len(p)),0.5))*(pow(qi2-(pow(qi,2)/len(q)),0.5))
print(round(denominator,2))

20.0

In [349]:
pearson_correlation=neumerator/denominator
print(round(pearson_correlation,2))

1.0

# DATA STRUCTURES-2

## Ranges

In [ ]:
# Ranges are immutable sequence of numbers typically used to loop through "for loops", ranges are indexed by numbers
# range is a function - range(start=0,stop,step)
# this itterates over an arithmetic progression of numbers

In [ ]:
# we need to understand for loops in order to appriciate ranges

In [369]:
words=["cat","dog","cow","parrot","hamster","goat"]
for w in words:
    print(w,len(w))

cat 3
dog 3
cow 3
parrot 6
hamster 7
goat 4

In [ ]:
# this for loop itterates this iterable sequence one at a time.

In [363]:
#calculate sum of these numbers
num=[10,20,30,40,50]
sumofnumbers=0
for n in num:
    print(n)
    print("sumofnumbers before=", sumofnumbers)
    sumofnumbers=sumofnumbers+n
    print("sumofnumbers after=",sumofnumbers)
    print()
print("final value=",sumofnumbers)

10
sumofnumbers before= 0
sumofnumbers after= 10

20
sumofnumbers before= 10
sumofnumbers after= 30

30
sumofnumbers before= 30
sumofnumbers after= 60

40
sumofnumbers before= 60
sumofnumbers after= 100

50
sumofnumbers before= 100
sumofnumbers after= 150

final value= 150

In [364]:
#here range gives me a tuple from 0 to n-1 i.e, till 4 in this case
for n in range(5):
    print(n)

0
1
2
3
4

In [365]:
# increments of 1 till n-1
for n in range(3,10):
    print(n)

3
4
5
6
7
8
9

In [362]:
# (start,stop,increment)- increments of 2 from 3 to (10-1) i.e, till 9
for n in range(3,10,2):
    print(n)

1
3
5
7
9

In [368]:
for n in range(3,9,2):
    print(n)    # this results in an output of 7 but not 8 as the step size here is 2

3
5
7

In [377]:
for n in range(10,0):
    print(n)    # prints nothing

In [378]:
for n in range(10,0,-1):
    print(n)     # this prints from 10 to 0+1

10
9
8
7
6
5
4
3
2
1

In [375]:
for n in range(10,-4,-2):
    print(n)      # from 10 to -4+1

10
8
6
4
2
0
-2

In [385]:
words=["jane","john","mark","harry","mike","ed"]
wordlist=[]
for i in range(len(words)):
    print(i)
    print(words[i])
    print(wordlist)
    wordlist.append([i,words[i]])
    print()
print(wordlist)

0
jane
[]

1
john
[[0, 'jane']]

2
mark
[[0, 'jane'], [1, 'john']]

3
harry
[[0, 'jane'], [1, 'john'], [2, 'mark']]

4
mike
[[0, 'jane'], [1, 'john'], [2, 'mark'], [3, 'harry']]

5
ed
[[0, 'jane'], [1, 'john'], [2, 'mark'], [3, 'harry'], [4, 'mike']]

[[0, 'jane'], [1, 'john'], [2, 'mark'], [3, 'harry'], [4, 'mike'], [5, 'ed']]

In [386]:
r=range(0,20,2)
print(r)
print(list(r))
print(11 in r)
print(r.index(10))  # index of the value 10
print(r[5])
print(r[:5])
print(r[-1])

range(0, 20, 2)
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
False
5
10
range(0, 10, 2)
18

In [387]:
print(range(0)==range(2,1,3))

True

In [389]:
r=range(2,1,3)
n=range(0)
print(list(r))
print(list(n))

[]
[]

#### Test

In [8]:
for i in range():
    print(i,end=",")

TypeError: range expected 1 arguments, got 0

In [391]:
for i in range(10):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,

In [392]:
for i in range(0,-10):
    print(i,end=",")

In [393]:
for i in range(0,-10,-2):
    print(i,end=",")

0,-2,-4,-6,-8,

In [395]:
for i in range(0,-10,-2):
    print(i)

0
-2
-4
-6
-8

In [ ]:
# sequence type and indexed by ranges: strings lists, tuples, ranges

## SETS

In [396]:
# these are unordered collection with no duplicate elements, sets cannot be indexed.
# basic uses include membership testing and eliminating duplicate entries
# sets objects also support mathematical operations like union, intersection, difference,and symmetric difference

In [397]:
# sets are represented by {}

In [403]:
basket={"apple","orange","apple","pear","orange","banana"}
print(basket)

{'orange', 'apple', 'pear', 'banana'}

In [405]:
basket=set("apple,orange,apple,pear,orange,banana")
print(basket)

{'o', 'g', ',', 'a', 'b', 'p', 'r', 'e', 'n', 'l'}

In [401]:
print("orange" in basket)

True

In [402]:
# single character set
somechars=set("235345#$$%^$%&abdfsdf")
print(somechars)      # so here it takes each element seperately

{'2', '%', '^', '$', 'b', '#', 's', 'a', 'f', '4', '&', 'd', '5', '3'}

In [ ]:
## venndiagrams

In [408]:
set1=set("abracadabra")
set2=set("alacazam")
print(set1)
print(set2)

{'a', 'c', 'b', 'd', 'r'}
{'a', 'z', 'm', 'c', 'l'}

##### unions, intersections, difference, symmetric difference

In [409]:
print(set1|set2)

{'a', 'z', 'm', 'c', 'b', 'd', 'r', 'l'}

In [410]:
# UNION
print("set1|set2=",set1|set2)

set1|set2= {'a', 'z', 'm', 'c', 'b', 'd', 'r', 'l'}

In [412]:
# INTERSECTION
print("set1&set2=",set1&set2)

set1&set2= {'c', 'a'}

In [414]:
# DIFFERENCE
print("set1-set2=",set1-set2) # everything in set1 except elements of set2

set1-set2= {'d', 'r', 'b'}

In [416]:
# SYMMETRIC DIFFERENCE
print("set1^set2=",set1^set2)   # basically this is , (set1-set2) union (set2-set1) 
# this is the diff of union and intersection
# symmetric difference venn dig - doesnot contain intersection part thats all

set1^set2= {'b', 'd', 'l', 'r', 'z', 'm'}

#### TEST

In [421]:
print((set1^set2)-((set1|set2)-(set1&set2)))

set()

In [424]:
print((set1^set2)-((set1-set2)|(set2-set1)))

set()

In [426]:
set5={"dog","cat","deer"}
print(set5)

{'cat', 'dog', 'deer'}

In [428]:
set6={"sparrow","hawk","eagle"}
print(set6)

{'sparrow', 'hawk', 'eagle'}

In [417]:
set3=set("abc123")
print(set3)

{'2', '1', 'a', 'b', 'c', '3'}

In [420]:
set4=set("\"abc123\"")
print(set4)

{'2', '1', 'a', 'b', 'c', '3', '"'}

## DICTIONARIES

In [18]:
# dictionaries are unordered set of <key:value> pairs, where keys are immutable type and must be unique 
#within one dictionary, dictionaries are indexed by keys,dictionaries are mutable
#{a:1,b:2,c:3} .....  these have {} ......curly braces

In [ ]:
#user3-{"a":1,"d":2,"b":3}
#if u wanna introduce new key, ---- user3["w"]=500
#print(user3.keys())
#print(list(user3.keys()))
#common keys between 2 users or 2 variables = print(user2.keys()&user3.keys())

In [430]:
grades={}
print(len(grades))

0

In [3]:
# creating a dictionaryu directly using comma-seperated by key value
grades={"jack":90,"jill":100,"joe":99,"nat":95,"eric":100,"aubry":90}
print(grades)

{'jack': 90, 'jill': 100, 'joe': 99, 'nat': 95, 'eric': 100, 'aubry': 90}

In [9]:
# second type of writing a dict - you can also use tupples in side a list to make a dictionary
# grades=dict([("jack":90),("jill":100),(""joe":99")])

In [ ]:
# third type of writing a dict- 
# grades=dict(jack=90,jill=100,joe=99)

In [4]:
print(grades.keys())

dict_keys(['jack', 'jill', 'joe', 'nat', 'eric', 'aubry'])

In [5]:
print(sorted(grades.keys()))

['aubry', 'eric', 'jack', 'jill', 'joe', 'nat']

In [6]:
print(reversed(sorted(grades.keys())))

<list_reverseiterator object at 0x10e90a0f0>

In [439]:
print(grades["nat"])

95

In [440]:
grades["nat"]=96
print(grades.values())

dict_values([90, 100, 99, 96, 100, 90])

In [447]:
print(grades["nat"])

96

In [448]:
del grades["jack"]

In [449]:
print(grades)

{'jill': 100, 'joe': 99, 'nat': 96, 'eric': 100, 'aubry': 90}

In [451]:
print("jill" in grades)

True

#### TEST

In [452]:
imdbrating=dict(intestellar=8.7,unbroken=7.2,divergent=6.8,wild=7.2,neighbours=6.4)
print(imdbrating)

{'intestellar': 8.7, 'unbroken': 7.2, 'divergent': 6.8, 'wild': 7.2, 'neighbours': 6.4}

In [453]:
print(imdbrating["intestellar"])

8.7

In [454]:
imdbrating["unbroken"]=10
print(imdbrating)

{'intestellar': 8.7, 'unbroken': 10, 'divergent': 6.8, 'wild': 7.2, 'neighbours': 6.4}

In [479]:
print(imdbrating["everest"])

KeyError: 'everest'

# LOOPS AND COMPARISIONS

In [465]:
# items method
for k,v in grades.items():    # in is used when some value is subset of other 
    print(k,v)

jill 100
joe 99
nat 96
eric 100
aubry 90

In [467]:
# items method
for k,v in grades.items():
    print(k,v,end="...")

jill 100...joe 99...nat 96...eric 100...aubry 90...

In [458]:
for keys in grades:

    print(keys)

jill
joe
nat
eric
aubry

In [469]:
# enumerate function helps to index a key value
points=[90,100,99,95,100,90]
for i,v in enumerate(points):
    print(i,v)

0 90
1 100
2 99
3 95
4 100
5 90

In [470]:
# to zip two list they must have same length
# entries can be paired with zip function
names=["jack","jill","nat",'joe',"eric","aurby"]
points=[90,100,95,99,90,100]
for n,p in zip(names,points):
    print(n,p)

jack 90
jill 100
nat 95
joe 99
eric 90
aurby 100

In [471]:
print(grades)

{'jill': 100, 'joe': 99, 'nat': 96, 'eric': 100, 'aubry': 90}

In [475]:
for k in sorted(grades.keys()):
    print(k)

aubry
eric
jill
joe
nat

In [477]:
# only ways the reverse function works is after sorting, you can only reverse after sorting.
for k in reversed(sorted(grades.keys())):
    print(k)

nat
joe
jill
eric
aubry

In [480]:
print((1,2,3)<(1,2,4))

True

In [481]:
print([1,2,3]<[1,2,4])

True

In [482]:
print("ABC"<"C"<"Pascal"<"Python")

True

In [483]:
print((1,2,3,4)<(1,2,4))

True

In [484]:
print((1,2)<(1,2,-1))

True

In [485]:
print((1,2,3)==(1.0,2.0,3.0))

True

In [487]:
print((1,2,("aa","ab"))<(1,2,("abc","a"),4))

True

#### TEST

In [11]:
ratings={"everest":5,"minions":3,"big":4}
for (k,v) in ratings.items():
    print(k,v)

everest 5
minions 3
big 4

In [491]:
scores=[9,10,8,5,10,6]
for i,v in scores:
    print(i,v)

TypeError: cannot unpack non-iterable int object

In [12]:
for x in reversed(ratings.keys()):
    print(x)

TypeError: 'dict_keys' object is not reversible

# EXERCISE SET-3

In [493]:
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [494]:
for i in range(5):
    print(i)

0
1
2
3
4

In [496]:
for i in range(5):
    print(i)
    print("hello")

0
hello
1
hello
2
hello
3
hello
4
hello

In [497]:
strg="sundevils"
for i in range(len(strg)):
    print([i],strg[i])

[0] s
[1] u
[2] n
[3] d
[4] e
[5] v
[6] i
[7] l
[8] s

In [527]:
##extra
for i,n in enumerate(strg):
    print(i,n)

0 s
1 u
2 n
3 d
4 e
5 v
6 i
7 l
8 s

In [502]:
for i,n in enumerate(strg):
    print(i,n,end="   ")

0 s   1 u   2 n   3 d   4 e   5 v   6 i   7 l   8 s

In [503]:
lst=[10,20,30]
for i in range(len(lst)):
    print(i,lst[i])

0 10
1 20
2 30

In [504]:
for l in lst:
    print(l)

10
20
30

In [506]:
mylst1=[10,20,30]
mylst2=[100,200,300]
for i in range(len(mylst1)):
    print(i,mylst1[i],mylst2[i])

0 10 100
1 20 200
2 30 300

In [508]:
for l1,l2 in zip(mylst1,mylst2):
    print(l1,l2)

10 100
20 200
30 300

In [509]:
mydictionary={"A":100,"B":200,"C":300}
for k in sorted(mydictionary.keys()):
    print(k,mydictionary[k])

A 100
B 200
C 300

In [515]:
nikki={"father":"ramesh","mother":"uma","brother":"sai","husband":"anvesh"}
print(nikki["husband"])
print("-"*50)
for k in nikki:
    print(k,nikki[k])

anvesh
--------------------------------------------------
father ramesh
mother uma
brother sai
husband anvesh

In [516]:
mydictionary={"A":100,"B":200,"C":300}
for k in reversed(sorted(mydictionary.keys())):
    print(k,mydictionary[k])

C 300
B 200
A 100

In [526]:
print(nikki)
for keys in nikki:
    print(keys)

{'father': 'ramesh', 'mother': 'uma', 'brother': 'sai', 'husband': 'anvesh'}
father
mother
brother
husband

In [ ]:
#### unlike lists and strings dictionaries are indexed by keys, as dictionaries are unordered collection of objects
#### eg: in a list or a string idex at 0 is the same all the time but in dictionary it changes all the time.
#### keys are stored in different memory all the time so we need to index it by keys not by numbers
#### if you print all the keys in a dictionary it does not gaurentee you in a same order, for eg: consider my dictiona
##### -ry : if you return for key values it might give you A,B,C and nxt time it might give you B,C,A so sorting
##### dictionaries becomes necessary most of the times.

In [531]:
sumi=0
for i in range(5):
    sumi=sumi+i
    print(i,sumi)
print(sumi)

0 0
1 1
2 3
3 6
4 10
10

In [532]:
sumi=0
p=[10,20,30]
for i in range(len(p)):
    sumi=sumi+p[i]
    print(i,p[i],sumi)
print(sumi)

0 10 10
1 20 30
2 30 60
60

In [535]:
p=[1,2,3]
q=[10,20,30]
sump=0
sumq=0
for i in range(len(p)):
    sump=sump+p[i]
    sumq=sumq+q[i]
print("p=",p)
print("q=",q)
print("sum of elements in p=",sump)
print("sum of elements in q=",sumq)

p= [1, 2, 3]
q= [10, 20, 30]
sum of elements in p= 6
sum of elements in q= 60

In [538]:
import math
p=[1,2,3]
q=[10,20,30]
summanhattan=0
for i in range(len(p)):
    summanhattan=summanhattan+abs(p[i]-q[i])
print("manhattan distance=",round(summanhattan,2))

manhattan distance= 54

In [539]:
p=[1,2,3]
q=[10,20,30]
summanhattan=0
sumeuclidean=0
summinkowski=0
for i in range(len(p)):
    summanhattan=summanhattan+abs(p[i]-q[i])
    sumeuclidean=sumeuclidean+pow(abs(p[i]-q[i]),2)
    summinkowski=summinkowski+pow(abs(p[i]-q[i]),3)
print(p)
print(q)
print("manhattan distance=",round(summanhattan,2))
print("manhattan distance=",round(pow(sumeuclidean,1/2),2))
print("manhattan distance=",round(pow(summinkowski,1/3),2))

[1, 2, 3]
[10, 20, 30]
manhattan distance= 54
manhattan distance= 33.67
manhattan distance= 29.72

In [546]:
P=[1,2,3]
Q=[10,20,30]
sumofpiqi=0
sumofpi=0
sumofqi=0
sumofpi2=0
sumofqi2=0
for p,q in zip(P,Q):
    sumofpiqi=sumofpiqi+(p*q)
    sumofpi=sumofpi+p
    sumofqi=sumofqi+q
    sumofpi2=sumofpi2+(p*p)
    sumofqi2=sumofqi2+(q*q)
neumerator=sumofpiqi-((sumofpi*sumofqi)/len(P))
denominator=pow(sumofpi2-(pow(sumofpi,2)/len(P)),0.5)*pow(sumofqi2-(pow(sumofqi,2)/len(Q)),0.5)
pearson_correlation=neumerator/denominator

print(round(pearson_correlation,2))
print()

1.0

In [548]:
UserXRatingsD={"A":1,"B":2,"C":3,"D":4,"E":5}
for k,v in sorted(UserXRatingsD.items()):
    print(k,v)

A 1
B 2
C 3
D 4
E 5

In [549]:
for k in sorted(UserXRatingsD.keys()):
    print(k,UserXRatingsD[k])    # "in" is a membership key

A 1
B 2
C 3
D 4
E 5

In [557]:
UserMRatingsD={"A":1,"B":2,"C":3,"D":4,"E":5}
UserNRatingsD={"A":10,"B":20,"C":30,"D":40,"E":50}
for k1,k2 in sorted(zip(UserMRatingsD,UserNRatingsD)):
    print(k1,k2,UserMRatingsD[k1],UserNRatingsD[k2])
    
# you can get the result even if you change the keys from abcde to fghij in any of the dictionaries.

A A 1 10
B B 2 20
C C 3 30
D D 4 40
E E 5 50

In [554]:
for k in sorted(UserMRatingsD):
    print(k,UserMRatingsD[k],UserNRatingsD[k])
# if you change the keys of any of the dictionary it results in an error

A 1 10
B 2 20
C 3 30
D 4 40
E 5 50

In [562]:
UserMRatingsD={"A":1,"B":2,"C":3,"D":4,"E":5}
UserNRatingsD={"A":10,"B":20,"C":30,"D":40,"E":50}
summan=0
for k in sorted(UserMRatingsD.keys()):
    summan=summan+(abs(UserMRatingsD[k]-UserNRatingsD[k]))
print("manhattan distance=",round(summan,2))

manhattan distance= 135

In [568]:
userratingsND={"X":{"A":10,"B":20,"C":30,"D":40,"E":50},"Y":{"A":100,"B":200,"C":300,"D":400,"E":500}}
print(userratingsND["X"]["B"])
userXratingsD=userratingsND["X"]
userYratingsD=userratingsND["Y"]
print(userXratingsD)
print(userYratingsD)

20
{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}
{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

In [566]:
for k in sorted(userXratingsD.keys()):
    print(k,userXratingsD[k],userYratingsD[k])

A 10 100
B 20 200
C 30 300
D 40 400
E 50 500

# PYTHON CONTROL FLOW AND FUNCTIONS

### CONTROL FLOW

In [ ]:
# while loop - very similar to for loop - 
#trying to itterate and running same type of operations again and again
# while statements will evaluate while the conditions hold true.

In [ ]:
# using while loop print a fibonacci series

In [571]:
i=0
while i<10:
    print(i)
    i=i+1 # incrementing i by 1

0
1
2
3
4
5
6
7
8
9

In [572]:
i=0
while i<10:
    print("inside while loop=",i)
    i=i+1 # incrementing i by 1
print("outside while loop=",i)

inside while loop= 0
inside while loop= 1
inside while loop= 2
inside while loop= 3
inside while loop= 4
inside while loop= 5
inside while loop= 6
inside while loop= 7
inside while loop= 8
inside while loop= 9
outside while loop= 10

In [2]:
# print out the fibbonacci series using while loop:
a=0
b=1
print(a)
print(b)
while(b<100):
    c=a+b
    print(c)
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55
89
144

In [16]:
a=0
b=1
while(b<100):
    print(b)
    a=b
    b=a+b

1
2
4
8
16
32
64

In [43]:
# multiple assignment
a=0
b=1
while(b<100):
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34
55

In [4]:
a=0
b=1
while(b<100):
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34
55

In [5]:
print("-"*100)

----------------------------------------------------------------------------------------------------

##  IF ELSE

In [8]:
word="Python"
if(word.startswith('P')):
    print("word starts with P")
else:
    print("word doesnt starts with P")

word starts with P

In [12]:
if(word.startswith("J")):
    print("word starts with J")
elif(word.endswith('n')):
    print("word ends with n")
elif(word.startswith("A")):
    print("word starts with A")
else:
    print("unknown word")

word ends with n

In [13]:
words=["cat","dog","cow","parrot","hamster","goat"]
for w in words:
    print(w,len(w))

cat 3
dog 3
cow 3
parrot 6
hamster 7
goat 4

In [15]:
for i in range(5):
    print(i,end=",")

0,1,2,3,4,

In [16]:
for i in range(3,10):
    print(i,end=",")

3,4,5,6,7,8,9,

In [17]:
for i in range(3,10,2):
    print(i,end=",")

3,5,7,9,

In [19]:
for i in range(10,-30,-5):
    print(i,end=",")
print()

10,5,0,-5,-10,-15,-20,-25,

In [20]:
words=["jane","john","mark","harry","mike","ed"]
wordlist=[]
for i in range(len(words)):
    wordlist.append([i,words[i]])
print(wordlist)

[[0, 'jane'], [1, 'john'], [2, 'mark'], [3, 'harry'], [4, 'mike'], [5, 'ed']]

In [22]:
n=[1,2,3,4]
n.append([5,6,7,8])
print(n,len(n))

[1, 2, 3, 4, [5, 6, 7, 8]] 5

In [24]:
print("range is not a list: ",range(10))

range is not a list:  range(0, 10)

In [25]:
print("generate list underlying range: ",list(range(10)))

generate list underlying range:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# break breaks out from innermost loop

In [29]:
# example:
for n in range(1,10):
    if n%2==0:
        print("found even number: ",n)
        break
    print("value of n is : ",n)
print("out of for loop")

value of n is :  1
found even number:  2
out of for loop

In [41]:
# here, n takes 1 and since the if stmt if false it prints the "value of n" 
# and goes to the next number where n is 2 and since the if statemnt is true it prints "found even number" and breaks 
# i.e, it comes out of the nearest loop which is a for loop and prints "out of for loop"

In [39]:
for n in range(1,10):
    if n%2==0:
        print("found even number: ",n)
        break

found even number:  2

In [45]:
for n in range(1,10,2):
    if n%2==0:
        print("found even number: ",n)
        break
    print("even number not found:",n)
else:
    print("even number not found")

even number not found: 1
even number not found: 3
even number not found: 5
even number not found: 7
even number not found: 9
even number not found

In [38]:
for n in range(1,10):
    if n%2==0:
        print("found even number: ",n)
        break
    else:
        print("even number not found:",n)
else:
    print("even number not found")  
    # this statement only gets executed when nothing else inside the for loop is executed 
    # if you find nothing in the for loop this stmt gets executed
    
    # if in the loop there is a break statemnet i.e, if any break stmt is executed then it doesnt execute else stmt
    #after the for loop

even number not found: 1
found even number:  2

In [46]:
# CONTINUE
for n in range(1,10):
    if n%2==0:
        print("even number:",n)
        continue
    print("not an even number:",n)
    # continue says that dont execute anything below continue inside the for loop...
    #just go back to the for loop and start itterating again (continue- goes to nxt iteration in the group)

not an even number: 1
even number: 2
not an even number: 3
even number: 4
not an even number: 5
even number: 6
not an even number: 7
even number: 8
not an even number: 9

In [47]:
for n in range(1,10):
    if n%2==0:
        print("even number:",n)       
    print("not an even number:",n)
    
    # if there is no continue

not an even number: 1
even number: 2
not an even number: 2
not an even number: 3
even number: 4
not an even number: 4
not an even number: 5
even number: 6
not an even number: 6
not an even number: 7
even number: 8
not an even number: 8
not an even number: 9

In [ ]:
# pass
# it does nothing. it can be used when a stmt is required syntactically but the program requires no action.
for i in range(1,-10,2):
    print(i,end=",")
while(True):
    pass

In [ ]:
while True:
    pass

In [3]:
n=1
while(n<10):
    print(n)
    n+=1
if(5>3):
    print("condition is true")

1
2
3
4
5
6
7
8
9
condition is true

In [4]:
n=1
while(n<10):
    print(n)
    n+=1
if(5<3):
    print("condition is true")

1
2
3
4
5
6
7
8
9

# DETOUR: OBJECTS NAMES AND BINDINGS

In [2]:
# In python almost everything is an object
# there are 2 types of objects in python - mutable and immutable
## MUTABLE:
# A mutable object exhibits time varying behaviour
#
# eg: lists    eg: mylist=["nikita","anvesh"]
# mylist[1]="sai krishna"
# you can update a list with new name

In [3]:
# variable in python is called "name".....eg: mylist mystrng
# and 
# assignment is binding...so you are binding names to objects...eg: =:binding,name:mylist,object:["nikita","anvesh"]
# there is a diff between binding and copying
# list is a mutable object and strings are immutable
# binding names to objects .....
####### assignment between names doest not create a new object

In [2]:
some_guy="fred"
# "name" saying some_guy and binding it to string object "fred"
first_names=[]
first_names.append(some_guy)
another_list_of_names=first_names  ####### assignment between names doest not create a new object
another_list_of_names.append("george")
some_guy="bill"
print(some_guy)
print(first_names)
print(another_list_of_names)
#### All of the names bound to the same object continue to see the change in that object if it is mutable....as it
### stores in the same memory

bill
['fred', 'george']
['fred', 'george']

In [4]:
# difference between copying and binding
a=[1,2,3]
b=a
print(b is a)   # this is binding....b and a both are bound to the same location in the memory i.e, same list
b[2]=10
print(a,b)

True
[1, 2, 10] [1, 2, 10]

In [5]:
# what if u wanna create something whoch is in the new location of the memory
a=[1,2,3]
c=[]
c[:]=a[:] # take all of the elements from a and copy them to c
print(c is a)  # this is how we know if it is a binding or copying
c[2]=10   # here we just edited list c and nothing has changed in a
print(a,c)

False
[1, 2, 3] [1, 2, 10]

# Functions

In [6]:
def fib(n):
    result=[]
    a,b=0,1
    for i in range(n):
        result.append(b)
        a,b=b,a+b
    return result
fib(10)    # program execution starts here

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
# pow, abs all are function calls with in math module...when we type pow or abs they are gonna call their functions
# arguments are also called parameters
# program execution in a function starts from when you call a function.

In [9]:
# object binding in functions
def foo(bar):
    print("bar=",bar)
    bar="newvalue"
    print("bar=",bar)
answer="oldvalue"      ## program starts here
foo(answer)
print("answer=",answer)

bar= oldvalue
bar= newvalue
answer= oldvalue

In [10]:
def foo(bar):
    print("bar=",bar)
    bar.append(42)
    print("bar=",bar)
answer=[]      ## program starts here
foo(answer)
print("answer=",answer)

bar= []
bar= [42]
answer= [42]

In [11]:
# ""& is used i sets for intersection | is used for union in sets""

In [20]:
lst1=[10,20,30]
lst2=[100,200,300]
for l in zip(lst1,lst2):
    l1,l2=l
    print(l1,l2)

10 100
20 200
30 300

In [21]:
lst1=[10,20,30]
lst2=[100,200,300]
for l1,l2 in zip(lst1,lst2):
    #l1,l2=l
    print(l1,l2)

10 100
20 200
30 300

In [22]:

d1={"a":1,"b":2,"c":3}
d2={"b":10,"c":20,"z":30}

for k in d1.keys():
    if k in d2.keys():
        print(k,d1[k],d2[k])
    else:
        print(k,d1[k])

a 1
b 2 10
c 3 20

In [23]:
suml1=0
for l1 in lst1:
    suml1=suml1+l1
print(suml1)

60

In [24]:
suml1=0
suml2=0
for l1,l2 in zip(lst1,lst2):
    suml1=suml1+l1
    suml2=suml2+l2
print(suml1,suml2)

60 600